on init
    chmod 0777 /dev/goodix_fp

on post-fs-data
    mkdir /data/vendor/fpc 0777 system system
    mkdir /data/vendor/goodix 0777 system system
    mkdir /data/vendor/nfc 0770 nfc nfc

on post-fs
    start stflashtool

on boot
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/modalias
    chown system system /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/modalias
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/compatible_all

    start nfc_hal_service

service stflashtool /vendor/bin/STFlashTool
    class late_start
    group nfc
    user nfc
    oneshot

on property:ro.boot.hwname=*
    setprop ro.boot.product.hardware.sku ${ro.boot.hwname}
