on init
    chmod 0777 /dev/goodix_fp

    # DT2W
    chown system system /proc/tp_gesture
    chmod 0644 /proc/tp_gesture

on post-fs-data
    mkdir /data/vendor/fpc 0777 system system
    mkdir /data/vendor/goodix 0777 system system
    mkdir /data/vendor/nfc 0770 nfc nfc

on post-fs
    start stflashtool

on boot
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/modalias
    chown system system /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/modalias
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/compatible_all

    start nfc_hal_service

    # Hide permissive selinux
    chmod 0640 /sys/fs/selinux/enforce
    chmod 0440 /sys/fs/selinux/policy

service stflashtool /vendor/bin/STFlashTool
    class late_start
    group nfc
    user nfc
    oneshot

service vendor.goodix-events /vendor/bin/init.goodix.events.sh
    class late_start
    user root
    group root system input
    disabled
    oneshot

on property:sys.boot_completed=1
    start vendor.goodix-events

on property:ro.boot.hwname=*
    setprop ro.boot.product.hardware.sku ${ro.boot.hwname}
